.article {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 5px 10px;
  color: #007bff;
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}